Source: hblock
Section: utils
Priority: optional
Maintainer: Héctor Molinero Fernández <hector@molinero.dev>
Build-Depends: debhelper (>=9), dh-systemd (>=1.5)
Standards-Version: 4.0.0
Homepage: https://github.com/hectorm/hblock
Vcs-Browser: https://github.com/hectorm/hblock
Vcs-Git: https://github.com/hectorm/hblock.git

Package: hblock
Architecture: all
Depends: curl | wget, ${misc:Depends}
Description: Improve your security and privacy by blocking ads, tracking and malware domains
 hBlock is a POSIX-compliant shell script that gets a list of domains that serve
 ads, tracking scripts and malware from multiple sources and creates a hosts
 file, among other formats, that prevents your system from connecting to them.
