[Unit]
Description=hBlock
Wants=network-online.target
After=network.target network-online.target

[Timer]
OnCalendar=*-*-* 00:00:00
RandomizedDelaySec=3600
Persistent=true
Unit=hblock.service

[Install]
WantedBy=timers.target
