[Unit]
Description=hBlock

[Service]
Type=oneshot
TimeoutStartSec=300
ExecStart=/bin/sh -c 'hblock'
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/etc/hosts
