[Unit]
Description=hBlock

[Service]
Type=oneshot
TimeoutStartSec=300
ExecStart=/usr/bin/env hblock
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/etc/hosts
